


.header_image_container{
    display: block;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgb(13, 243, 186);
   border: 1px solid rgb(13, 243, 186);
}

.header_image_container{
    display: block;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgb(243, 13, 232);
   border: 1px solid rgb(243, 13, 232);
}

.header_image_container{
    display: block;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgb(13, 113, 243);
   border: 1px solid rgb(13, 113, 243);
}

.header_image_container{
    display: block;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgb(161, 139, 18);
   border: 1px solid rgb(161, 139, 18);
}

.header_image_container{
    display: block;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: rgb(13, 178, 243);
   border: 1px solid rgb(13, 178, 243);
}

.headersubcontainer{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}

.headerimage{
    position: absolute;
    right: 0;
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  
   
}

.divsoup{
    position: relative;
    width: 100%;
    height: 100%;
}

.headersubcontainer::after {
  display: block;
  position: absolute;
   top: 0;
  background-image: linear-gradient(to left, transparent 0%,rgb(13, 178, 243) 100%);

  height: 100%;
  width: 100%;
  content: '';
  object-fit: cover;
  z-index: 1;

}

.midcontainer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
   min-height: 500px;
}

/* .middlecolor{
    position: absolute;
    left: 45%;
    height: 100px;
    width: 100%;
    background-color: rgb(59, 161, 18);
} */

.aqua{
    position: absolute;
    top: 0;
    background-color: rgb(13, 243, 186);
    height: 100%;
    width: 50%;
    z-index: -1;
}

.purpleish{
    position: absolute;
    top: 0;
    background-color: rgb(243, 13, 232);
    height: 100%;
    width: 50%;
    z-index: -1;
}

.blue{
    position: absolute;
    top: 0;
    background-color: rgb(13, 113, 243);
    height: 100%;
    width: 50%;
    z-index: -1;
}

.yellow{
    position: absolute;
    top: 0;
    background-color: rgb(59, 161, 18);
    height: 100%;
    width: 50%;
    z-index: -1;
}

.red{
    position: absolute;
    top: 0;
    background-color: rgb(255, 0, 0);
    height: 100%;
    width: 50%;
    z-index: -1;
}


.testdiv{
    width: 100%;
    height: 100%;

}


.tallphotoheader{
  
  object-fit: contain;
 
    height: 100%;
   width: auto
}


.tallphotoheaderbox{
    position: relative;
    height: 100%;
    width: auto ;
    
    
}


.otherinfobox{
   position: relative;
    height: 100%;
    width: auto;
    z-index: 5;
}


.headerinfoandpic{
    position: absolute;
    left: 5%;
    top: 25%;
    display: flex;
    align-items: flex-end;
    width: 80%;
    height: 60%;
}

.headerinfoandpic > div{
    margin: 10px;
}

.Flexflexflex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   align-items: flex-end;

}

.topheader{
    position: relative;
    top: 37%;
   z-index: 2;
   width: 100%;
   height: 100%;
   color: white;
   display: flex;
   flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.topheader > li {
   margin: 10px;
   
}

.topheader > h2{
   font-size: 13px;
}

.topheader > h3{
   font-size:calc(30px + 1vw);
   font-weight: bold;
   padding-bottom: 12px;
}

.topheader > h5{
   font: 400 18px system-ui;
   white-space: pre;
   
}

.topshow > h4 {
   font-size: 120%;
   line-height: 1.5;
   max-height: 90px;
   overflow: hidden;
}

.topheader_nav{
    margin-top: 12px;
   position: relative;
   /* left: -2%; */
   display: flex;
   width: 100%;
   overflow: visible;
  align-items: center;
}


.showshowplay{
    position: relative;
    top: -10px;
}

.topheader_nav > li{
   margin: 10px;

   /* align-self: center;
   text-align: center; */
}

/* .turtle{
    position: absolute;
    z-index: 5;
    left: 40%;
    top: 72%;
    z-index: 100;

} */

.startWatch{
    position: relative;
    top: -10%;
}

.showshowplay{
    position: relative;
    top: 10%;
}