.videoshowPagebackground{
position: fixed; 
overflow-y: scroll;
top: 0; left: 0; right: 0; bottom: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(12, 11, 11, 0.7);
  z-index: 200;
}

.maindiv { 
    position: absolute;
      top: 0;
  bottom: 0;
  right: 0;
  left: 0;
    
    height: 100%;
    width: 100%;
}

.VideoHeight{
  height: 110%;

}

.headerdiv{
    width: 100%;
    height: 71%;
    min-height: 500px;
  
}


.showpagecontainer{
    min-width: 937px;
    min-height: 800px;
  position: absolute;
   background-color:white;
   height: 95%;
    width: 88%;
    top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 200;
 
}

.showpagecontainer-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.showpagecontainer-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.episodedisplay{
  display: flex;
    flex-wrap: wrap;
    background-color: white;

}

.episodedisplay li{
    margin: 3px;
    margin-bottom: 10px;
}



.showheaderHeader{
    position: fixed;
    top: 4%;
    left: 6%;
    width: 87%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    z-index: 1;
    color: white;
    z-index: 2000;
}

.showheaderHeader2{
    position: absolute;
    top: 1px;
    width: 100%;
    height: 50px;
    background-color: rgb(59, 161, 18);
    border-bottom: 1px solid rgb(59, 161, 18);
    z-index: 1;
    color: white;
}



.showheadertitle{
    position: absolute;
    top:50%;
   left:50%;
   transform: translate(-50%, -50%);
}

.showheaderclose{
    position: absolute;
    top: 2px;
    right: 2%;
    background: none;
    background:none;
    color:inherit;
    border:none; 
    cursor: pointer;
    font-size: 25px;
    margin: 10px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 100;
    font-stretch: normal;
    color: #f3f3f3
}