
.firstouter{
    position: absolute;
    width: 20%;
    height: 100%;
}

.firstUltra{
  position: relative;
  top:50%;
   left:50%;
   transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  z-index: 5;
   overflow: hidden;
   transition: all .2s;
}

.firstUltra2{
  top:50%;
   left:50%;
   transform: translate(-50%, -50%);
  position: relative;
    width: 108%;
    height: 108%;
    z-index: 5;
    transition: all .2s;
     overflow: hidden;
     z-index: 20;

}

.secondrowcontainer{
 box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100%;
    height: 35%;

}

.secondrowcontainer{
 box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;

}


.firstrowcontainer{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainer2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainer::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(13, 243, 186) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainer2::after {
  background-image: linear-gradient(rgba(13, 243, 186, .9),rgba(13, 243, 186, .9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}



/* .firstrowcontainer2::after {
  background-image: linear-gradient(to bottom, transparent 100%,rgb(13, 243, 186) 100%);
  content: " ";
  display: block;
   top: -101%;
  position: relative;
  height: 101%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(13, 243, 186, 0.8);
  
  
} */

.blankspace{
    white-space: pre;
}

.tall_image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tall_image2{
    object-fit: cover;
    width: 100%;
    height: 100%;

}


.firstinfocontainer{
  position: absolute;
    top:90%;
   left:50%;
   transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
 
}

.firstinfo{
    color: white;
    position: absolute;
    width: 100%;
    height: 40%;
    overflow: hidden;
    z-index: 3;
    
}

.firstrowtitle{
    position: absolute;
    top: 32%;
    left:0%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    font-weight: 900;
    transition: all .5s 
   
}

.firstrowtitle2{
    position: absolute;
    top:-10%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    font-weight: 900;
    transition: all .5s 
  
}

.firstrowtitle li{
  margin: 10%;
}

.firstrowtitle2 li{
  margin: 10%;
}

.firstrowdescription{
  font-size: 15px;
   line-height: 1.5;
   opacity: 0;
   transition: all 1.5s;
}

.firstrowdescription2{
  font-size: 15px;
   line-height: 1.5;
   opacity: 1;
   transition: all 1.5s;
}



.sizeclass{
    font: white;
   
}

.firstrowimage {
    position: absolute;
    top: -35%;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 35%;
    
    transition: linear .4s 
}

.firstrowimage2 {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
    width: 100%;
    height: 35%;
   
   transition: linear .4s 
}





.firstrowimagehover{
     width: 100%;
    z-index: 4;
    height: 35%;
}


.material-icons.fr-1{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
  
   z-index: -1;
}

.material-icons.fr-2{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 50px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
   transition: font-size .25s;
}

.material-icons.fr-3{
   position: absolute;
   top:20%;
   left:50%;
   transform: translate(-50%, -50%);
    font-size: 55px;
    z-index: 150;
    color: white;
    border: 3px solid rgb(255, 255, 255);
   border-radius: 50%;
   padding: .5px;
   background-color: rgba(0, 0, 0, .5);
    transition: font-size .25s;
}

 /* transition-delay: 2s;
   transition: background-color 0.5s ease-out; */




.bottombuttons{
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  padding: 3%;
  z-index: 5;
  color: white;
  
}

.bottombuttons li{
  /* margin: 2.5% */
}

.material-icons.bt-2{
   font-size: 50px;
   border: 2px solid rgba(255, 255, 255, .5);
   border-radius: 50%;
   padding: .5px;
}

.material-icons.bt-3{
   font-size: 40px;
   border: 2px solid rgba(255, 255, 255, .5);
   border-radius: 50%;
   padding: .5px;
}


/* ____________________________
____________________________
___________________________ */

.firstrowcontainernature{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainernature2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainernature::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(13, 243, 186) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainernature2::after {
  background-image: linear-gradient(rgba(13, 243, 186, .9),rgba(13, 243, 186, .9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}

.firstrowcontainerhumans{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainerhumans2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainerhumans::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(243, 13, 232) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainerhumans2::after {
  background-image: linear-gradient(rgba(243, 13, 232, .9),rgba(243, 13, 232, .9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}



.firstrowcontainercities{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainercities2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainercities::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(13, 113, 243) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainercities2::after {
  background-image: linear-gradient(rgba(13, 113, 243, .9),rgba(13, 113, 243, .9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}


.firstrowcontainercats{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainercats2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainercats::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(228, 243, 13) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainercats2::after {
  background-image: linear-gradient(rgba(228, 243, 13, .9),rgba(228, 243, 13, 0.9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}


.firstrowcontainertopcars{
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all .4s linear
}

.firstrowcontainertopcars2{
    box-sizing: border-box;
    bottom:0;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 64.5%;
    transition: all .4s linear
}

.firstrowcontainertopcars::after {
  background-image: linear-gradient(to bottom, transparent 40%,rgb(209, 209, 203) 100%);
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  -webkit-transition: background-image 0.2s ease-in-out;
 transition: all .4s;
  
}

.firstrowcontainertopcars2::after {
  background-image: linear-gradient(rgba(209, 209, 203, .9),rgba(209, 209, 203, .9));
  display: block;
  position: relative;
  top: -101%;
  margin-top: 0px;
  height: 101%;
  width: 100%;
  content: '';
  object-fit: cover;
  transition: all .4s;
 
}


.material-icons.bt-3{
  position: relative;
  top: 5px;
  height: 80%;
  font-size: 35px;

}

