
.shownav{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    color: white;
    transition: background-color 0.5s ease-out;
    z-index: 100;
    
}

.shownavscroll{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 73px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.97);
    color:black;
    transition: background-color 0.5s ease-out;
    z-index: 100;
}

.luhu {
    position: relative;
    top: -5px;
    left: -5px;
  font-size: 28px;
  margin: 29px;
  margin-left: 55px;
  font-family: 'Nunito', sans-serif;
}

.searchNav{
    display: flex;
    position: relative;
    top: 2px;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.navclickables{
    display:flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 900;
    margin: -10px;
    font: 400 13px system-ui;
    
}

.navleftcontainer{
    position: relative;
    left: -10px;
    display: flex;
    width: 200px;
    align-content: center;
    flex: left;
}

.navleftcontainer li{
    margin: auto;
    padding: 15px ;
    display: flex;
    align-content: center;
}

.navcontainerli > * {
    position: relative;
    left: 5px;
    margin: 7px;
    color:white;
    border-color: white;
    align-content: center;
}

.navcontainerli2 > * {
    margin: 7px;
    color:black;
    border-color: black ;
}

.textSearch{
    position: relative;
    top: 5px;
    
}

.navlefttext{
    width: 75px;
    position: relative;
    top: 4px;
}

.browseIcon{
    position: relative;
    top: 1px;
}

.navlefttext2{
    width: 75px;
    position: relative;
    top: 1px;
    left: -4px;
}

.checkicon{
    position: relative;
    left: -4px;
     border: 1px solid;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 1px;
     
}
.material-icons.md-18 { 
    font-size: 15px; 
}
.material-icons.md-19 { 
    font-size: 32px; 
    position: relative;
    left: -5px;
}





.userletter{
    position: relative;
    left: -24px;
    top: -2px;
    font-size: 20px;
    z-index: 1;
    color: white;
    height: 18px;
   
}

.userletterempty{
    position: relative;
    top: -7px;
    font-size: 20px;
    color: rgba(189, 192, 189, 0.01);
    padding: 10px;
    background-color: rgba(189, 192, 189, 0.3);
    border-radius: 50%;
    height: 11px;
}

.userletterempty2{
    position: relative;
    top: -7px;
    font-size: 20px;
    color: black;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
    height: 11px;
}

.showclick{
    top: 8px;
    left: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 20px;
}

.showclick li {
    margin-right: 30px;
    margin: 20px;
    margin-top: 30px;
}

.checkbox {
    font-size: 12px;
}

.dropDown{ 
    box-sizing: content-box;
    padding: 20px;
    display:flex;
    align-items: center;
    position: absolute;
    left: -232px;
    top: 47px;
    height: 50px;
    width: 300px; 
    background-color: white; 
}

.dropDown li {
    color: grey;
}

.userName{
    position: relative;
    top: 6px;
    left: 2px;
    display: flex;
    width: 100px;
    height: 100px;
    align-content: center;
}

.showlogout{
    color: black;
    cursor: pointer;

}