

.splash{
   min-width: 1200px;
   position: absolute;
   background-color: grey;

}

.indexbackground{
   height: 180%;
   width: 100%;
   background-color: rgb(238, 237, 237);
}



.material-icons.tn-3{
   font-size: 35px;
   border: 2px solid rgb(255, 255, 255, .5);
   border-radius: 50%;
   padding: .5px;
}

.startWatch{
   font: 400 13px system-ui;
   padding-right: 20px;
   letter-spacing: 0.1em;
}

.startWatch:hover{
   cursor: pointer;
}

.rowli{
   width: 20%;
   height: 90%;
  
}

.firstrow{
   position: absolute;
   top: 90%;
   left: 3.5%;
   display: flex;
   width: 93%;
   height: 70%;
   z-index: 2;

}

.showepisodedisplay{
   position: absolute;
   display: flex;
   width: 90%;
   top: 170%;
   left: 5%;
}

.showepisodedisplay li{
   margin: 3px;
}