.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(12, 11, 11, 0.7);
  z-index: 10;
}


.modal-child{
   position: absolute;
    top: 33%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: all .5s;
   opacity: 0;
}

.modal-child2{
     position: absolute;
    top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   transition: all .5s;
   opacity: 1;
}

.modal-child-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.modal_child-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

