
.sessionform{
    width: 415px;
    height: 604px;
    background-color: white;
    position: fixed;
    top: 10%;
    left: 40%;
    display: flex;
    flex-direction: column;
}

.closeButton{
    position: absolute;
    top: 6.5px;
    right: .5%;
    background: none;
    background:none;
    color:inherit;
    border:none; 
    cursor: pointer;
    font-size: 30px;
    margin: 10px;
    font-family: 'Syncopate', sans-serif;
    font-weight: 100;
    font-stretch: normal;
    color: #797c83
    
}

.emailbox{
    position: relative;
    top: -4px;
    border-top: 1px, solid black;
}

.demo{
    width: 309px;
    padding: 20px 0px;
    background-color: #3b5998;
    margin-bottom: 20px;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Mandali', sans-serif;
}

.sessionlabel{
    position: relative;
    top: -4px;
    left: -4px;
    padding: 5px;
    font-size: 12px;
    font-family: 'Mandali', sans-serif;
    font-weight: 900;

}

.sessionform form{
    position: relative;
  
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11%;
    
    padding-bottom: 100px;
   
}

.sessionform form ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sessionform form li {
    padding: 9px;
    display: flex;
    flex-direction: column;
    width: 308px;
}


.switchButtonContainer{
    position: relative;
    top: -8px;
    margin-left: auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid rgb(230, 227, 227);
    
}

.switchButtonContainer div{
    position: relative;
    top: 4px;
    vertical-align: middle;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #aeb4bf;
    
}

.switchButton{
    background: none;
    color:inherit;
    border:none; 
    cursor: pointer;
    font-size: 14px;
    color: #3370bb;
    font-family: 'Open Sans', sans-serif
}

.sessionSubmit{
    position: relative;
    top: -5px;
    background-color: black;
    color: white;
    height: 57px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: none;
    border: none;
}


.inputBox { 
    box-sizing: border-box;
    background: rgb(246, 247, 247); 
    color: black;
    height: 49px;
    border: 0px solid;
    outline: none;
    border: .5px solid transparent;
    font-size: 15px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.inputBox2 { 
    box-sizing: border-box;
    border-width: thin;
    background: white; 
    height: 49px;
    border: thin inset black;
    outline: none;
    font-size: 15px;
    padding: 10px;
}

.inputBox::placeholder{
    color: rgb(209, 202, 202);
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

.or {
    padding: 5px;
    background-color: inherit;
    color: rgb(126, 123, 123);
    white-space: pre;
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.or:before, .or:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid rgb(240, 238, 238);
  margin: auto;
}



.sessionform h3{
    position: relative;
    top: -3px;
    color: gray;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.splashfooter{
    position: absolute;
     right: 0;
     bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: lightgrey;
}

.formErrors{
    color: red;
    font-family: 'Roboto', sans-serif;
    height: 26px;
    padding: 0;
}
