
.splash{
    position: relative;
    width: 100%;
}

.splash_image_container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}

.splashimage{
object-fit: cover;
   height: 760px;
   width: 100%;
}

.splashimage2{
   height: 824px;
   align-self: center;
 object-fit: cover;
   max-width: 100%;

}


.splashform{
    position: absolute;
    left: 40%;
    top: 20%;
}



.splashnav{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 82px;
    width: 100%;
    color: white;
    transition: background-color 0.5s ease-out;
    z-index: 2;
    
}

.splashnavscroll{
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 82px;
    width: 100%;
    background-color: white;
    color:black;
    z-index: 2;
    transition: background-color 0.5s ease-out
}

.splashlogin{
    position: relative;
    top: 5px;
    background:none;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
     text-decoration: none;
     font: 400 14px system-ui;
    
}

.splashloginscroll{
    color: rgb(141, 136, 136);
    background:none;
     border:none; 
     padding:0!important;
     font: inherit;
     cursor: pointer;
     text-decoration: none;
     font: 400 14px system-ui;
     padding: 5px;
}

.splashnavscroll h1 {
  font-size: 28px;
  margin: 29px;
  margin-left: 55px;
  font-family: 'Nunito', sans-serif;
}

.splashnav h1 {
  font-size: 28px;
  margin: 29px;
  margin-left: 55px;
  font-family: 'Nunito', sans-serif;
}
.splashclick{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;
}

.splashclick li {
    margin-right: 30px;
    margin: 20px;
    margin-top: 30px;
}

.splashsignup {
     background:none;
     color:inherit;
     border:none; 
     padding:20px;
     cursor: pointer;
     margin-top: -15px;
     font-size: 16px;
     text-decoration: none;
}

.splashsignupscroll{
     padding: 20px;
     cursor: pointer;
     color: white;
     text-decoration: none;
     background-color: black;
     margin-top: -15px;
    font-size: 16px;
    border:none; 
}

.splashsignupscroll:hover{
  position: relative;
  top: -1px;
}

.splashtext{
    width: 670px;
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.splashtext li{
    margin: 15px;
}

.splashtext h1{
    color: white;
    font-size: 56px;
    margin-bottom: 11px;
    
}

.splashtextWatch{
    color: rgb(202, 197, 197);
    font-size: 25px;
}

.splashnetworks{
  color: white;
}

.splashlink {
    color: black;
    text-decoration: none;
    padding: 15px;
    width: 262px;
    height: 57px;
    background-color: rgb(243, 239, 239);
    font-size: 16px;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
}

.splashlink:hover{ 
  position: relative;
  top: -1px;
}

.splashfree{
    position: relative;
    top: -10px;
    color: rgb(202, 197, 197);
    font-size: 10px;
    margin: 0;
}

.splashfooter{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: rgb(241, 241, 241);
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    z-index: 1000;
}
.splashfooter > * {
    margin-left: 8%;
    margin-right: 8%;
}

.splashfooter a {
    text-decoration: none;
    color: grey;
}
.githubicon{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.personalSite{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.githublink{
 width:54px;
 height:50px;   
}

